.header-pictute {
    overflow: hidden;
  }
  
  .header-pictute,
  .headerpictute * {
    box-sizing: border-box;
  }
  
  .header-pictute {
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }