:root {
  --logoTextTitleColor: #233248;
  --logoTColor: #ffffff;
  --titleTextColor: #000000;
  --descriptionTextColor: #7d7987;
  --buttonColor: #458ff6;
  --buttonTextColor: #ffffff;
  --logoTextColor: #233248;
  --buttonHoverColor: #649ded;
  --buttonBlockHoverColor: #dfdfdf;
  --topNavigationTextColor: #1f1534;
  --dividerColor: #000000;
  --shadow: 0 100px 100px 0 rgba(228, 233, 245, 0.4);
  --serviceBackgroundColor: #ffffff;
}

body {
  margin: 0px;
  font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft Yahei UI', 'Microsoft Yahei',
    'Source Han Sans CN', sans-serif;
}